%head
  %script{src: './jquery/dist/jquery.min.js'}
  %script{src: './semantic/dist/semantic.min.js'}
  %script{src: './semantic/dist/script.js'}
  %link{rel: "stylesheet", type: 'text/css', href: './semantic/dist/semantic.min.css'}
%body
  .ui.attached.stackable.menu
    .ui.container
      %a.item.title
        Banana App
      - if logged_in?
        .ui.dropdown.item.right
          %img{:src => user.photo, style: 'padding-right: 10px'}
          = user.name
          %i.dropdown.icon
          .menu
            .item.log_out Logout
      - else
        %a.item.right{href: toggle_access}
          %i.facebook.icon
          Login / Signup
  .ui.container
    = yield
