.ui.two.column.grid
  .row
  .row
    .column.centered
      .ui.icon.message.green
        %i.star.icon
        .content
          .header
            = "Hey, #{first_name}! Thanks for signing-up for Banana App!"
          %p I believe the process was pretty easy?
